In [1]:
# dependencies
import pandas as pd

In [2]:
# read in project result csv
nn_result_df = pd.read_csv("Exhibits/NN_Seldin_Predictions.csv")
nn_result_df.head()

   Unnamed: 0 superpopulation guessed superpopulation
0           0             NaN                     NaN
1           1             NaN                     AFR
2           2             NaN                     AFR
3           3             NaN                     AFR
4           4             NaN                     AFR

In [3]:
# drop nan's
nn_result_df = nn_result_df.dropna(how='any')
nn_result_df.head()

     Unnamed: 0 superpopulation guessed superpopulation
626         626             AFR                     AFR
627         627             SAS                     SAS
628         628             SAS                     SAS
629         629             SAS                     SAS
630         630             EUR                     EUR

In [4]:
# create path id column
nn_result_df["Path ID"] = nn_result_df["superpopulation"] + "-" + nn_result_df["guessed superpopulation"]
nn_result_df.head()

     Unnamed: 0 superpopulation guessed superpopulation  Path ID
626         626             AFR                     AFR  AFR-AFR
627         627             SAS                     SAS  SAS-SAS
628         628             SAS                     SAS  SAS-SAS
629         629             SAS                     SAS  SAS-SAS
630         630             EUR                     EUR  EUR-EUR

In [5]:
# get counts by Path ID
counts = nn_result_df.groupby("Path ID").count()["superpopulation"]
counts

Path ID
AFR-AFR    467
AFR-SAS     29
AMR-AMR     27
AMR-EAS     13
AMR-EUR     55
AMR-SAS    125
EAS-EAS    140
EAS-SAS     88
EUR-EUR    373
EUR-SAS      4
SAS-EUR      3
SAS-SAS    364
Name: superpopulation, dtype: int64

In [6]:
# turn into df
counts_df = pd.DataFrame(counts)
counts_df = counts_df.rename(columns={"id": "Count Guesses"})
counts_df.head(7)

         superpopulation
Path ID
AFR-AFR              467
AFR-SAS               29
AMR-AMR               27
AMR-EAS               13
AMR-EUR               55
AMR-SAS              125
EAS-EAS              140

In [7]:
# write to new file
counts_df.to_csv("Exhibits/Superpopulation_Summary.csv")