In [1]:
# dependencies
import pandas as pd

In [3]:
# read in project result csv
nn_result_df = pd.read_csv("Results/Violet_suppop_results.csv")
nn_result_df.head()

     id superpopulation guessed superpopulation
0  1762             AFR                     AFR
1  2503             SAS                     SAS
2  1525             SAS                     SAS
3  1624             SAS                     SAS
4  1684             EUR                     EUR

In [4]:
# create path id column
nn_result_df["Path ID"] = nn_result_df["superpopulation"] + "-" + nn_result_df["guessed superpopulation"]
nn_result_df.head()

     id superpopulation guessed superpopulation  Path ID
0  1762             AFR                     AFR  AFR-AFR
1  2503             SAS                     SAS  SAS-SAS
2  1525             SAS                     SAS  SAS-SAS
3  1624             SAS                     SAS  SAS-SAS
4  1684             EUR                     EUR  EUR-EUR

In [6]:
# get counts by Path ID
counts = nn_result_df.groupby("Path ID").count()["id"]
counts

Path ID
AFR-AFR    384
AFR-AMR     29
AFR-EAS     28
AFR-EUR     30
AFR-SAS     25
AMR-AFR     14
AMR-AMR    206
AMR-EAS      9
AMR-EUR      9
AMR-SAS     22
EAS-AFR     21
EAS-AMR     27
EAS-EAS    286
EAS-EUR     24
EAS-SAS     20
EUR-AFR     24
EUR-AMR     26
EUR-EAS     25
EUR-EUR    284
EUR-SAS     18
SAS-AFR     29
SAS-AMR     25
SAS-EAS     24
SAS-EUR     20
SAS-SAS    269
Name: id, dtype: int64

In [10]:
# turn into df
counts_df = pd.DataFrame(counts)
counts_df = counts_df.rename(columns={"id": "Count Guesses"})
counts_df.head(7)

         Count Guesses
Path ID
AFR-AFR            384
AFR-AMR             29
AFR-EAS             28
AFR-EUR             30
AFR-SAS             25
AMR-AFR             14
AMR-AMR            206

In [11]:
# write to new file
counts_df.to_csv("Results/Violet_suppop_summary.csv")